<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5" style="padding-top:10%">
        <div class="text-center">
            <h1 class="display-4" style="background-color:brown;color:white;width:50%;margin:auto;padding:10px">Помилка</h1>
            <p class="text-danger" style="background-color:black;width:50%;margin:auto;padding:10px"><b> Не вірний логін або пароль.</b></p>
            <p style="padding-top:10px" class="lead">Поверніться на <a href="{% url 'index' %}" class="btn btn-primary">головну</a> сторінку та спробуйте знову</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
